VITE_FORMSPEC_SERVER_URL=http://127.0.0.1:8080
VITE_FORMSPEC_TENANT_ID=tenant_managed_single_cell
VITE_FORMSPEC_WORKSPACE_ID=workspace_managed_single_cell
VITE_FORMSPEC_ENVIRONMENT_ID=environment_production
VITE_FORMSPEC_CELL_ID=cell_primary
